header {
    font-family: 'Comic Neue', cursive;
}

.rainbow {
    font-size: 42px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #b533ff, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 10s ease infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
