.body {
    background-color: #ffa9d9;
    font-family: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-variation-settings: "opsz" 100;
    min-height: 800px;

}

a {
    color: #00bc53 !important;
}

.emphasis {
    background-color: #ffa9d9 !important;
    color: white !important;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.3;
    letter-spacing: 0.1em;
}

.text {
    color: #ff92cf !important;
    font-size: 1.rem;
    font-weight: 500;
}

.list-group-item {
    color: #ff92cf !important;
}


.nav-link.active {
    color: #ff92cf !important;
}

.nav-link {
    color: #ffd5ec !important;
    font-weight: 700 !important;
}

.pg-text-muted {
    color: #ffd5ec;
}

.paragraph {
    font-size: 1.2rem;
    font-weight: 500;
}

/*gal*/

@media (max-width: 980px) {
  .wp-post-image {
          display: none;
  }
  .title {
    font-size: 2.8rem;
  }
}

/*stars*/
    .small-star{
      position:relative;
      width:0.5em;
      font-size:0.2em;
      background:white;
    }

    .small-star:before{
      content:"";
      position:absolute;
      background:white;
      width:1em;
      height:1.15em;
      transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
    }

    .small-star:after{
      content:"";
      position:absolute;
      background:white;
      width:1em;
      height:1.15em;
      transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
    }

    .medium-star{
      position:relative;
      width:0.5em;
      font-size:0.4em;
      background:white;
    }

    .medium-star:before{
      content:"";
      position:absolute;
      background:white;
      width:1em;
      height:1.15em;
      transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
    }

    .medium-star:after{
      content:"";
      position:absolute;
      background:white;
      width:1em;
      height:1.15em;
      transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
    }