.body {
    background-color: black;
    min-height: 2000px;
    font-family: monospace;
    color: white !important;
    text-decoration: none !important;
}

.title {
    font-size: 500%;
}

.terminal {
    font-family: monospace;
    text-decoration: none !important;
}

.terminal-text {
}

