.body {
    background-color: #EFD700;
    min-height: 2000px;
    font-family: monospace;
}

.title {
    font-size: 500%;
    color: text-dark;
}

.terminal {
    font-family: monospace;
}

.terminal-text {
    color: #EFD700;
}

