.body {
    background-color: #EFD700;
    min-height: 2000px;
    font-family: monospace;

}

.title {
    font-size: 500%;
}

.terminal {
    background-color: black;
    color: #EFD700;
    font-family: monospace;
}

