@font-face {
    font-family: 'frontage_condensedoutline';
    src: url('juri_zaech_-_frontagecondensed-outline-webfont.woff2') format('woff2'),
         url('juri_zaech_-_frontagecondensed-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}